html {
    background-color:#949899;  
}

.calc-container {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    font-family: 'Open Sans', sans-serif;
    padding: 18px;
    border: 2px solid #4682B4;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #3b3838;
    color: #3b3838;
    background: linear-gradient(to bottom, #B0C4DE, #3b3838);
    
}

.screen {
    height: 120px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 20px;
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.screen p {
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    background: #3b3838;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn.bg-lav {
    background: #4682B4/*#9370DB;*/
}

.btn.bg-sea {
    background: #4682B4;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
    background: #3b3838;
}
